<?xml version="1.0"?>
<robot name="diff_drive_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- <xacro:property name="lidar"        value="$(env LIDAR_TYPE)"/>
    <xacro:property name="machine"      value="$(env MACHINE_TYPE)"/>

    <xacro:if value="${lidar in ['A1', 'A2', 'S2L', 'LD14P']}">
    </xacro:if>
    <xacro:if value="${machine == 'JetRover_Mecanum'}">
    </xacro:if> -->

    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="use_gazebo" default="false"/>


    <xacro:property name="chassis_link_l"        value="0.7"/>
    <xacro:property name="chassis_link_w"        value="0.52"/>
    <xacro:property name="chassis_link_h"        value="0.582"/>
    <xacro:property name="wheel_base"        value="0.593"/>  
    <xacro:property name="chassis_high"        value="0.055"/>
    <xacro:property name="wheel_diameter"        value="0.2"/>
    <xacro:property name="wheel_width"        value="0.04"/>
    <xacro:property name="wheel_interval"        value="0.047"/>

    <xacro:include filename="robot_core.xacro" />

    <!-- <xacro:include filename="gazebo_control.xacro" /> -->
    <!-- <xacro:include filename="ros_control.xacro" /> -->
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="$(find diff_drive_robot)/urdf/imu_1500.xacro"/>
    <xacro:include filename="$(find diff_drive_robot)/urdf/astra_pro_plus.urdf.xacro"/>
    <xacro:include filename="$(find diff_drive_robot)/urdf/hk_ir_camera.urdf.xacro"/>

    <xacro:imu_sensor
      prefix="$(arg prefix)"
      parent="base_link"
      frame_id="imu"
      xyz_offset="0.16 -0.1 0.055"
      rpy_offset="0 0 0"
      update_rate="15.0"
      topic_name="imu/data"/>

    <!-- <xacro:dabai_dcw
      prefix="$(arg prefix)"
      camera_name="dabai_dcw"
      xyz_offset="0.28 0 0.51"
      rpy_offset="0 0 0"/> -->
      <xacro:astra_pro_plus/>
      <xacro:hk_ir_camera
        prefix="left_"
        xyz_offset="0.27 0.164 0.423"
      />
      <xacro:hk_ir_camera
        prefix="right_"
        xyz_offset="0.27 -0.13 0.423"
      />

    <joint name="stereo_ir_camera_joint" type="fixed">
      <parent link="base_link"/>  <!-- 或者其他合适的父link -->
      <child link="stereo_ir_camera"/> <!-- 虚拟的 -->
      <origin xyz="0.27 0.017 0.423" rpy="0 0 0"/>  <!-- 根据实际安装位置调整 -->
    </joint>

    <link name="stereo_ir_camera">
      <visual>
        <geometry>
          <box size="0 0 0"/>  <!-- 双相机支架的大致尺寸 -->
        </geometry>
        <material name="black">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
    </link>
</robot>
